<!DOCTYPE html>
<html>
<head>
  <title>KasihIn</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%# TODO: Find a better way to load the js. %>
  <script src="http://localhost:8080/static/main_wp_bundle.js"></script>
</body>
</html>
